deps/
deps.*/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
.vscode/
.idea/
.cmake/
build/
.ninja_*
*.ninja
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

src/example/blob_stream_example
src/lib/libblob_stream_lib.a
src/test/blob_stream_test
src/lib/libblob-stream.a
